doctype html
html
head
 link(rel='stylesheet',type='text/css', href='/stylesheets/styles.css')
 title Reclone
body
 a(href="login")
  button(type="button") Login
 
 
  a(href="/r/"+ room +"/post/new")
    button(type="button") New Post
   
  