doctype html
html
head
 link(rel='stylesheet',type='text/css', href='/stylesheets/styles.css')
 title Reclone
body
 a(href="login")
  button(type="button") Login

 each post, i in posts
  div(id="post-container")
   p #{post.author}
   p #{post.title}
   p #{post.body}
   img.imageScr1(src=''+post.image)
   a(href="/post/" +post._id)
    button(type="button") View
 a(href="/post/new")
  button(type="button") New Post