body
 h1 Login page
    form(action="/login", method="POST")
        p
            
            input(type="text", name="username", placeholder="Username")
            input(type="password", name="password", placeholder="Password")
        input(type="submit", value="Submit")