body
    form(action="", method="POST")
        p
            
            input(type="text", name="room", placeholder="Category")
            input(type="text", name="description", placeholder="Description")
        input(type="submit", value="Submit")
        
